# Gradle
.gradle/
build/
**/build/

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store
local.properties
captures/
.externalNativeBuild/
.cxx/

# Keystore — không commit
*.jks
*.keystore

# Logs
*.log
